@media (prefers-reduced-motion: no-preference) {
	@keyframes entrance-animation-float-up {
		0% {
			opacity: 0%;
			transform: translateY(16px);
		}
		100% {
			opacity: 100%;
			transform: translateY(0px);
		}
	}

	@keyframes entrance-animation-slide-from-right {
		0% {
			opacity: 0%;
			transform: translateX(16px);
		}
		100% {
			opacity: 100%;
			transform: translateX(0px);
		}
	}
}

@keyframes waving-animation-1 {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(12deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(12deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@layer components {
	.modal-animation {
		animation: entrance-animation-float-up 0.25s ease-in-out;
	}

	.entrance-animation-float-up {
		animation: entrance-animation-float-up 0.25s ease-in-out;
	}

	.entrance-animation-slide-from-right {
		animation: entrance-animation-slide-from-right 0.25s ease-in-out;
	}
}
