@layer components {
	.divider {
		@apply w-full h-[1px] bg-gray-200;
	}

	.text-link {
		@apply text-xs text-center text-blue-500 underline cursor-pointer hover:text-blue-800 focus:text-blue-800 outline-0 focus:outline-1 outline-dashed outline-offset-2;
	}

	.skeleton-color {
		@apply bg-gray-500 bg-opacity-[12.5%];
	}

	.auth-form {
		@apply w-full h-full flex flex-col;

		.auth-input-container {
			@apply w-full h-14 flex flex-row bg-gray-100 px-2 py-1 rounded-md border border-transparent items-center gap-x-2;

			.auth-input-text {
				@apply flex-1 h-full flex flex-col justify-center;

				.label {
					@apply text-xs font-bold text-gray-500 duration-300 h-min relative uppercase w-max;
				}

				.input-field {
					@apply outline-none h-0 duration-300 px-1 origin-bottom;
				}
			}

			&:hover,
			&:focus-within {
				@apply border-gray-500;

				.auth-input-text {
					.label {
						@apply text-3xs;
					}

					.input-field {
						@apply h-8;
					}
				}
			}

			.required-field {
				.label {
					&:after {
						content: "*";
						@apply absolute h-full w-full text-red-500 top-[50%] translate-y-[-50%] left-[110%] duration-300;
					}
				}
			}

			&[data-error="true"] {
				@apply border-red-500;

				.auth-input-text {
					.label {
						@apply text-red-500;
					}

					.input-field {
						@apply text-red-500;
					}
				}
			}
		}

		.auth-input-container-filled {
			@apply border-gray-500;

			.auth-input-text {
				.label {
					@apply text-3xs;
				}

				.input-field {
					@apply h-8;
				}
			}
		}

		.create-user-dropdown-group,
		.create-user-input-group {
			@apply flex flex-col w-full gap-y-2;

			.create-user-field-title {
				@apply font-bold text-logo-300 relative;
			}

			.create-user-field-title-required {
				&::after {
					content: "*";
					@apply absolute h-full w-full text-red-500 translate-x-2;
				}
			}

			.create-user-dropdown {
				@apply bg-gray-100 p-2 rounded-md shadow-around-sm border border-transparent font-semibold cursor-pointer;

				&:hover,
				&:focus {
					@apply border-gray-500;
				}

				&:disabled {
					@apply opacity-50 pointer-events-none border-transparent;
				}
			}

			.create-user-container {
				@apply w-full h-14 flex flex-row bg-gray-100 px-2 py-1 rounded-md border border-transparent items-center gap-x-2;

				.create-user-input-text {
					@apply flex-1 h-full flex flex-col justify-center;

					.input-field {
						@apply outline-none;
					}
				}

				&:hover,
				&:focus-within {
					@apply border-gray-500;
				}
			}
		}
	}

	.page-button {
		@apply h-12 w-full bg-logo-300 rounded-full font-bold text-white border-2 border-logo-300 justify-center items-center grid disabled:bg-gray-500 disabled:border-gray-500 disabled:pointer-events-none;
	}

	.menu-dropdown {
		@apply bg-white w-full p-4 shadow-around-xl rounded-lg flex-1 overflow-y-auto scroll-y-style pointer-events-auto;
	}

	.user-dropdown {
		@apply bg-white w-full p-4 shadow-around-xl rounded-lg flex-1 overflow-y-auto scroll-y-style pointer-events-auto;

		.user-dropdown-group {
			@apply w-full p-2 flex flex-row items-center gap-x-4 cursor-pointer duration-200 rounded-none relative;

			.image-container {
				@apply h-12 w-12 bg-white text-center truncate grid place-items-center rounded-full aspect-square text-gray-300;

				.image {
					@apply h-full w-full;
				}
			}

			.icon-container {
				@apply h-10 w-10 aspect-square bg-gray-200 text-center truncate grid place-items-center rounded-full p-[10px];

				.icon {
					@apply h-full w-full;
				}
			}

			.label-container {
				@apply flex-1 h-full flex flex-row items-center;

				.label {
					@apply font-bold truncate;
				}

				.label-2 {
					@apply text-sm truncate;
				}
			}

			&::after {
				content: "";
				@apply absolute h-[60%] w-0 bg-logo-300 top-[50%] translate-y-[-50%] left-0 rounded-r-lg duration-100;
			}

			&:hover,
			&:focus {
				@apply bg-gray-100 rounded-lg;

				&::after {
					@apply w-1;
				}
			}
		}

		.log-out {
			&:hover,
			&:focus {
				@apply bg-red-500 bg-opacity-10;
				.icon-container {
					@apply bg-red-200 text-red-700;
				}

				.label-container {
					.label-2 {
						@apply text-red-700;
					}
				}
			}
		}
	}

	.page-left-sidebar-wrapper {
		max-height: calc(100vh - 56px);

		.page-left-sidebar {
			@apply bg-slate-800 w-14 h-full flex flex-col gap-y-4 duration-100 p-1 py-2 overflow-y-auto scroll-y-style;

			.open-close-button {
				@apply p-1.5 h-12 flex flex-row items-center w-full duration-200 gap-x-2 border-2 border-transparent;

				.label-container {
					@apply hidden h-full flex-row items-center;

					.label {
						@apply text-white truncate font-bold uppercase;
					}
				}

				.icon-container {
					@apply h-8 w-8 aspect-square text-white;

					.icon {
						@apply h-full w-full;
					}
				}

				&:hover,
				&:focus {
					@apply bg-slate-700 rounded-lg;

					.icon-container {
						@apply text-cyan-300;
					}
				}
			}

			.sidebar-nav-group {
				@apply p-1.5 h-12 flex flex-row items-center w-full duration-200 gap-x-4 border-2 border-transparent;

				.label-container {
					@apply hidden h-full flex-row items-center;

					.label {
						@apply text-white truncate capitalize;
					}
				}

				.icon-container {
					@apply h-8 w-8 aspect-square text-white grid place-items-center p-1;

					.icon {
						@apply h-full w-full;
					}
				}

				&:hover,
				&:focus {
					@apply bg-slate-700 rounded-lg;

					.label-container {
						.label {
							@apply text-cyan-300;
						}
					}

					.icon-container {
						@apply text-cyan-300;
					}
				}

				&[data-active="true"] {
					@apply bg-slate-600 rounded-lg;

					.label-container {
						.label {
							@apply text-cyan-300;
						}
					}

					.icon-container {
						@apply text-cyan-300;
					}
				}
			}

			.list-header {
				@apply w-full text-center text-xs font-semibold uppercase px-2 text-slate-600 pointer-events-none truncate py-1;
			}

			&[data-open="true"] {
				@apply w-64;

				.open-close-button {
					.label-container {
						@apply flex-1 flex;
					}
				}

				.sidebar-nav-group {
					.label-container {
						@apply flex-1 flex;
					}
				}

				.list-header {
					@apply text-left;
				}
			}
		}
	}

	.post-creation-listener {
		@apply bg-white px-4 py-2 gap-y-2 shadow-page-box-1 rounded-lg flex flex-col;
	}

	.post-creation-listener-head {
		@apply flex flex-row h-12 gap-x-4;

		.image-icon-container {
			@apply h-12 w-12 aspect-square bg-gray-200 rounded-full text-gray-300;

			.image {
				@apply rounded-full h-full w-full;
			}

			.icon {
				@apply h-full w-full bg-white;
			}
		}

		.input-box-wrapper {
			@apply flex-1 h-full flex flex-row;

			.input-box-container {
				@apply h-full flex-1 flex flex-row gap-x-2 items-center border border-transparent bg-gray-100 rounded-full p-2 cursor-pointer text-gray-500;

				.icon-container {
					@apply h-8 w-8 rounded-full grid place-items-center p-1;

					.icon {
						@apply h-full w-full;
					}
				}

				.label-container {
					@apply flex flex-row h-full items-center;

					.label {
						@apply flex-1 truncate text-left;
					}
				}

				&:hover,
				&:focus {
					@apply bg-gray-200;
				}
			}
		}
	}

	.post-creation-listener-buttons-wrapper {
		@apply flex flex-row items-center h-12;

		.post-creation-listener-buttons-container {
			@apply flex-1 flex flex-row items-center h-full;

			.button {
				@apply py-2 px-4 flex-1 h-full flex flex-row items-center rounded-lg justify-center gap-x-2;

				.icon-container {
					@apply h-6 w-6 aspect-square;

					.icon {
						@apply h-full w-full;
					}
				}

				.label-container {
					@apply hidden min-[400px]:flex flex-row h-full items-center text-gray-500 text-sm;

					.label {
						@apply flex-1 font-semibold;
					}
				}

				&:hover,
				&:focus {
					@apply bg-gray-100;
				}
			}
		}
	}

	.post-creation-modal-form {
		@apply p-4 flex flex-col;
	}

	.post-creation-modal-form-head {
		@apply flex flex-row items-center h-16 gap-x-4 z-50;

		.image-icon-container {
			@apply h-12 w-12 aspect-square bg-gray-200 rounded-full text-gray-300 mb-auto;

			.image {
				@apply rounded-full h-full w-full;
			}

			.icon {
				@apply h-full w-full bg-white;
			}
		}

		.head-right {
			@apply flex-1 h-full flex flex-col;

			.user-name {
				@apply w-full truncate;

				.user-name-link {
					@apply truncate font-semibold;

					&:hover,
					&:focus {
						@apply underline;
					}
				}
			}
		}
	}

	.post-creation-modal-form-content {
		@apply flex flex-col w-full gap-y-2 mb-4 z-40;

		.post-creation-form-title-container {
			@apply relative flex flex-row py-2 px-2 rounded-lg border border-transparent gap-x-2 border-gray-200;

			.post-creation-form-title-input-field {
				@apply flex-1 min-w-0 outline-none bg-transparent font-semibold break-words resize-none;
			}

			&:hover {
				@apply bg-gray-100;
			}

			&:focus-within {
				@apply bg-transparent border-blue-500;
			}
		}
	}

	.post-creation-form-pages {
		@apply flex flex-row gap-x-2 gap-y-2;
	}

	.post-creation-form-body-container {
		@apply relative h-full flex-1 flex flex-col;
	}

	.post-creation-form-post-tab {
		@apply relative h-full flex-1 flex flex-col border gap-x-2 border-transparent rounded-lg border-gray-200;

		.post-creation-form-body-input-field {
			@apply min-w-0 outline-none text-sm bg-transparent break-words flex-grow px-2 py-2 resize-none;
		}

		&:hover {
			@apply bg-gray-100;
		}

		&:focus-within {
			@apply bg-transparent border-blue-500;
		}
	}

	.post-creation-form-image-or-video-tab {
		@apply flex flex-col flex-1 gap-y-2;

		.image-or-video-tab-input-container {
			@apply rounded-lg px-4 py-2 border-2 border-gray-200 border-dashed min-h-[128px] flex flex-col items-center justify-center text-sm gap-y-2 text-center;

			&:hover,
			&:focus-within {
				@apply border-blue-500;
			}
		}

		.image-or-video-tab-output-container {
			@apply w-full rounded-lg  p-2 border border-gray-200 text-sm flex flex-row flex-grow h-max gap-y-2 gap-x-2 flex-wrap justify-center;

			.image-or-video-item {
				@apply flex-1 max-w-[144px] max-h-[144px] aspect-square rounded-lg border-2 border-transparent bg-gray-100;

				.image-or-video-container {
					@apply h-full w-full rounded-lg overflow-hidden flex flex-row justify-center items-center;

					.image,
					.video {
						@apply rounded-lg h-full w-full object-cover duration-300;
					}

					.file-icon-container {
						@apply h-6 w-6 absolute top-1 left-1 text-white text-opacity-25 duration-300 pointer-events-none;
					}
				}

				&:hover,
				&:focus-within {
					@apply border-blue-500;

					.image-or-video-container {
						.image,
						.video {
							@apply scale-110 brightness-75;
						}

						.file-icon-container {
							@apply text-opacity-100 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] h-10 w-10;
						}
					}

					.remove-button {
						@apply opacity-100;
					}
				}

				.remove-button {
					@apply duration-200 opacity-0 h-6 w-6 aspect-square absolute top-1 right-1 bg-gray-400 bg-opacity-40 rounded-full p-1 text-white;

					&:hover,
					&:focus {
						@apply bg-opacity-40 bg-red-400 text-red-500;
					}
				}

				.icon {
					@apply h-full w-full;
				}
			}
		}
	}

	.post-creation-form-file-tab-container {
		@apply flex flex-col gap-y-2 flex-1;

		.post-file-tab-output-container {
			@apply flex flex-col gap-y-2;

			.post-file-item {
				@apply border-2 border-gray-500 border-opacity-10 p-4 flex flex-col xs:flex-row rounded-lg gap-2;

				.logo-container {
					@apply p-4 border-2 border-gray-500 border-opacity-25 h-20 w-20 aspect-square rounded-lg relative stroke-1 text-gray-400;

					& > * {
						@apply w-full h-full;
					}
				}

				&:hover,
				&:focus-within {
					@apply border-gray-500;
				}

				&[file-type="archive"] {
					.logo-container {
						@apply text-yellow-500 border-yellow-500;
					}

					&:hover,
					&:focus-within {
						@apply border-yellow-500;
					}
				}

				&[file-type="config"] {
					.logo-container {
						@apply text-gray-500 border-gray-500;
					}

					&:hover,
					&:focus-within {
						@apply border-gray-500;
					}
				}

				&[file-type="data"] {
					.logo-container {
						@apply text-green-500 border-green-500;
					}

					&:hover,
					&:focus-within {
						@apply border-green-500;
					}
				}

				&[file-type="database"] {
					.logo-container {
						@apply text-purple-500 border-purple-500;
					}

					&:hover,
					&:focus-within {
						@apply border-purple-500;
					}
				}

				&[file-type="developer-files"] {
					.logo-container {
						@apply text-cyan-500 border-cyan-500;
					}

					&:hover,
					&:focus-within {
						@apply border-cyan-500;
					}
				}

				&[file-type="disk-image"] {
					.logo-container {
						@apply text-yellow-300 border-yellow-300;
					}

					&:hover,
					&:focus-within {
						@apply border-yellow-300;
					}
				}

				&[file-type="document"] {
					.logo-container {
						@apply text-blue-500 border-blue-500;
					}

					&:hover,
					&:focus-within {
						@apply border-blue-500;
					}
				}

				&[file-type="font"] {
					.logo-container {
						@apply text-violet-700 border-violet-700;
					}

					&:hover,
					&:focus-within {
						@apply border-violet-700;
					}
				}

				&[file-type="html"] {
					.logo-container {
						@apply text-orange-500 border-orange-500;
					}

					&:hover,
					&:focus-within {
						@apply border-orange-500;
					}
				}

				&[file-type="image"] {
					.logo-container {
						@apply text-green-500 border-green-500;
					}

					&:hover,
					&:focus-within {
						@apply border-green-500;
					}
				}

				&[file-type="message"] {
					.logo-container {
						@apply text-slate-500 border-slate-500;
					}

					&:hover,
					&:focus-within {
						@apply border-slate-500;
					}
				}

				&[file-type="music"] {
					.logo-container {
						@apply text-pink-500 border-pink-500;
					}

					&:hover,
					&:focus-within {
						@apply border-pink-500;
					}
				}

				&[file-type="page-layout"] {
					.logo-container {
						@apply text-sky-500 border-sky-500;
					}

					&:hover,
					&:focus-within {
						@apply border-sky-500;
					}
				}

				&[file-type="pdf"] {
					.logo-container {
						@apply text-red-500 border-red-500;
					}

					&:hover,
					&:focus-within {
						@apply border-red-500;
					}
				}

				&[file-type="presentation"] {
					.logo-container {
						@apply text-red-400 border-red-400;
					}

					&:hover,
					&:focus-within {
						@apply border-red-400;
					}
				}

				&[file-type="program"] {
					.logo-container {
						@apply text-purple-300 border-purple-300;
					}

					&:hover,
					&:focus-within {
						@apply border-purple-300;
					}
				}

				&[file-type="spreadsheet"] {
					.logo-container {
						@apply text-green-400 border-green-400;
					}

					&:hover,
					&:focus-within {
						@apply border-green-400;
					}
				}

				&[file-type="text"] {
					.logo-container {
						@apply text-gray-700 border-gray-700;
					}

					&:hover,
					&:focus-within {
						@apply border-gray-700;
					}
				}

				&[file-type="3d-image"] {
					.logo-container {
						@apply text-pink-700 border-pink-700;
					}

					&:hover,
					&:focus-within {
						@apply border-pink-700;
					}
				}

				&[file-type="vector-image"] {
					.logo-container {
						@apply text-teal-500 border-teal-500;
					}

					&:hover,
					&:focus-within {
						@apply border-teal-500;
					}
				}

				&[file-type="video"] {
					.logo-container {
						@apply text-red-700 border-red-700;
					}

					&:hover,
					&:focus-within {
						@apply border-red-700;
					}
				}

				.details-container {
					@apply flex-1 flex flex-col gap-y-1;

					.file-title-input-field {
						@apply font-bold px-2 py-1 border border-gray-300 rounded-md;
					}

					.buttons-container {
						@apply h-8 w-full flex flex-row items-center justify-end gap-x-2;

						.button {
							@apply h-8 w-8 aspect-square p-1.5 border-2 rounded-md text-gray-500 border-gray-500;

							.icon {
								@apply h-full w-full;
							}

							&:hover,
							&:focus {
								@apply bg-gray-500 text-white;
							}
						}

						.remove {
							@apply border-red-500 text-red-500;

							&:hover,
							&:focus {
								@apply bg-red-500 text-white;
							}
						}
					}
				}
			}
		}
	}

	.post-creation-form-link-tab-container {
		@apply flex flex-col gap-y-4 flex-1;

		.link-input-container {
			@apply flex flex-col gap-y-2 border p-2 rounded-lg border-gray-200;

			.link-input-field-container {
				@apply flex flex-row items-center h-10 w-full rounded-lg border overflow-hidden;

				.icon-container {
					@apply h-10 w-10 aspect-square rounded-l-lg p-2 text-gray-400 bg-gray-100 duration-200;

					.icon {
						@apply h-full w-full duration-200;
					}
				}

				.link-input-field {
					@apply flex-1 px-2 outline-none text-sm;

					&:disabled {
						@apply grayscale cursor-not-allowed pointer-events-none;
					}
				}

				&:hover,
				&:focus-within {
					@apply border-cyan-300;

					.icon-container {
						@apply bg-cyan-300 text-white;

						.icon {
							@apply -rotate-45;
						}
					}
				}

				&[valid-link="false"] {
					@apply border-red-500;

					.icon-container {
						@apply bg-red-500 text-white;

						.icon {
							@apply -rotate-45;
						}
					}
				}
			}

			.link-input-buttons-container {
				@apply flex flex-row items-center justify-end gap-2 flex-wrap;

				.button {
					@apply flex flex-row items-center bg-logo-100 gap-x-1 text-sm h-8 pl-2 pr-4 py-1 w-max rounded-lg text-white border-2 border-logo-100;

					.icon-container {
						@apply h-6 w-6 p-0.5;

						.icon {
							@apply h-full w-full;
						}
					}

					.label-container {
						@apply h-full flex flex-row items-center;

						.label {
							@apply flex-1;
						}
					}

					&:disabled {
						@apply bg-gray-300 border-gray-300 text-gray-500 cursor-not-allowed pointer-events-none;

						.icon-container {
							@apply text-gray-500;
						}
					}
				}

				.preview-link-button {
					@apply bg-cyan-500 border-cyan-500;

					&:hover,
					&:focus {
						@apply bg-cyan-600 border-cyan-600;
					}
				}

				.add-link-button {
					@apply bg-green-500 border-green-500;

					&:hover,
					&:focus {
						@apply bg-green-600 border-green-600;
					}
				}
			}
		}
	}

	.post-creation-form-tabs-container {
		@apply rounded-md border border-gray-300 shadow-around-sm h-max w-max bg-white p-2 flex flex-col items-center gap-y-1;

		.post-creation-form-tab-button {
			@apply h-12 w-12 aspect-square p-2.5 grid place-items-center rounded-md duration-200;

			.icon {
				@apply h-full w-full;
			}

			&:hover,
			&:focus {
				@apply bg-gray-100;
			}

			&:hover {
				@apply rounded-[24px];
			}

			&[data-active="true"] {
				@apply rounded-md;
			}

			@media screen and (max-width: 480px) {
				@apply h-10 w-10;
			}
		}
	}

	.post-card {
		@apply flex flex-col shadow-page-box-1 bg-white rounded-lg relative;
	}

	.post-dropdown-menu-wrapper {
		@apply absolute w-full top-0 duration-100 right-0 max-w-sm p-2 pt-12 pointer-events-none;

		.post-dropdown-menu {
			@apply pointer-events-auto bg-white shadow-around-lg rounded-lg flex flex-col p-2;

			.post-dropdown-list {
				@apply flex flex-col;

				.post-dropdown-item {
					@apply p-2 rounded-md w-full flex flex-row gap-x-4 items-center text-gray-600;

					.icon-container {
						@apply h-6 w-6;

						.icon {
							@apply h-full w-full;
						}
					}

					.label-container {
						@apply flex flex-row flex-1 items-center text-left h-full;

						.label {
							@apply truncate;
						}
					}

					&:hover,
					&:focus {
						@apply bg-gray-100;
					}
				}
			}
		}

		&[menu-open="false"] {
			@apply translate-y-[-8px] opacity-0;

			* {
				@apply pointer-events-none;
			}
		}
	}

	.post-images-or-videos-wrapper {
		@apply flex flex-col w-full px-4 pb-4;

		.post-images-or-videos-container {
			@apply flex flex-col w-full aspect-square;

			.post-images-or-videos-bg {
				@apply h-full w-full bg-gray-200 rounded-xl shadow-around-lg;

				.post-images-or-videos-items-container {
					@apply h-full w-full flex flex-row items-center justify-center rounded-xl overflow-hidden;

					.images-or-videos {
						@apply object-contain bg-slate-900 duration-300;

						&[data-current-image="true"] {
							@apply h-full w-full opacity-100;
						}

						&[data-current-image="false"] {
							@apply h-0 w-0 opacity-0;
						}
					}
				}
			}

			.post-images-or-videos-nav-wrapper {
				@apply absolute w-full top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] pointer-events-none;

				.post-images-or-videos-nav-container {
					@apply flex flex-row items-center justify-between p-4;

					.button {
						@apply h-12 w-12 bg-white bg-opacity-20 rounded-full opacity-20 duration-200 pointer-events-auto;

						.icon-container {
							@apply w-full h-full text-white;

							.icon {
								@apply h-full w-full;
							}
						}

						&:hover,
						&:focus-within {
							@apply bg-opacity-50 shadow-around-xl;
						}
					}

					.prev {
						@apply mr-auto;

						&:hover,
						&:focus-within {
							@apply -translate-x-2;
						}
					}

					.next {
						@apply ml-auto;

						&:hover,
						&:focus-within {
							@apply translate-x-2;
						}
					}
				}
			}

			&:hover,
			&:focus-within {
				.post-images-or-videos-nav-wrapper {
					.post-images-or-videos-nav-container {
						.button {
							@apply opacity-100;

							.icon-container {
								.icon {
								}
							}
						}
					}
				}
			}
		}
	}

	.post-files-wrapper {
		@apply flex flex-col w-full pb-2;

		.post-files-header {
			@apply px-4 flex flex-col gap-y-2;

			.divider {
				@apply h-[1px] w-full bg-gray-500 bg-opacity-20;
			}

			.text {
				@apply font-bold;
			}
		}

		.post-files-container {
			@apply flex flex-row items-center px-4 gap-x-4 overflow-x-auto scroll-x-style py-2;

			.post-file-item {
				@apply z-0 flex flex-row w-full min-w-[352px] h-24 bg-white shadow-page-box-1 rounded-lg p-4 gap-x-4 relative;

				& > * {
					@apply z-10;
				}

				.deco-1 {
					@apply absolute z-10 top-0 left-0 h-full bg-gray-500 bg-opacity-5 w-0 duration-300 rounded-lg ease-in-out;
				}

				.logo-container {
					@apply p-4 border-2 border-gray-500 border-opacity-25 h-16 w-16 aspect-square rounded-lg stroke-1 text-gray-400;

					& > * {
						@apply w-full h-full;
					}
				}

				&:hover,
				&:focus-within {
					.deco-1 {
						@apply w-full;
					}

					.logo-container {
						& > * {
							animation: infinite waving-animation-1 1.5s;
						}
					}
				}

				&[file-type="archive"] {
					.deco-1 {
						@apply bg-yellow-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-yellow-500 border-yellow-500;
					}
				}

				&[file-type="config"] {
					.deco-1 {
						@apply bg-gray-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-gray-500 border-gray-500;
					}
				}

				&[file-type="data"] {
					.deco-1 {
						@apply bg-green-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-green-500 border-green-500;
					}
				}

				&[file-type="database"] {
					.deco-1 {
						@apply bg-red-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-purple-500 border-purple-500;
					}
				}

				&[file-type="developer-files"] {
					.deco-1 {
						@apply bg-cyan-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-cyan-500 border-cyan-500;
					}
				}

				&[file-type="disk-image"] {
					.deco-1 {
						@apply bg-yellow-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-yellow-300 border-yellow-300;
					}
				}

				&[file-type="document"] {
					.deco-1 {
						@apply bg-blue-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-blue-500 border-blue-500;
					}
				}

				&[file-type="font"] {
					.deco-1 {
						@apply bg-violet-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-violet-700 border-violet-700;
					}
				}

				&[file-type="html"] {
					.deco-1 {
						@apply bg-orange-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-orange-500 border-orange-500;
					}
				}

				&[file-type="image"] {
					.deco-1 {
						@apply bg-green-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-green-500 border-green-500;
					}
				}

				&[file-type="message"] {
					.deco-1 {
						@apply bg-slate-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-slate-500 border-slate-500;
					}
				}

				&[file-type="music"] {
					.deco-1 {
						@apply bg-pink-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-pink-500 border-pink-500;
					}
				}

				&[file-type="page-layout"] {
					.deco-1 {
						@apply bg-sky-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-sky-500 border-sky-500;
					}
				}

				&[file-type="pdf"] {
					.deco-1 {
						@apply bg-red-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-red-500 border-red-500;
					}
				}

				&[file-type="presentation"] {
					.deco-1 {
						@apply bg-red-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-red-400 border-red-400;
					}
				}

				&[file-type="program"] {
					.deco-1 {
						@apply bg-purple-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-purple-300 border-purple-300;
					}
				}

				&[file-type="spreadsheet"] {
					.deco-1 {
						@apply bg-green-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-green-400 border-green-400;
					}
				}

				&[file-type="text"] {
					.deco-1 {
						@apply bg-gray-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-gray-700 border-gray-700;
					}
				}

				&[file-type="3d-image"] {
					.deco-1 {
						@apply bg-pink-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-pink-700 border-pink-700;
					}
				}

				&[file-type="vector-image"] {
					.deco-1 {
						@apply bg-teal-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-teal-500 border-teal-500;
					}
				}

				&[file-type="video"] {
					.deco-1 {
						@apply bg-red-500 bg-opacity-5;
					}

					.logo-container {
						@apply text-red-700 border-red-700;
					}
				}

				.details-container {
					@apply flex-1 flex flex-col gap-y-1;

					.details-header {
						@apply flex flex-col;

						.file-name {
							@apply font-bold truncate;
						}

						.extra {
							@apply text-xs text-gray-400 flex flex-col gap-x-1 w-full;

							.name {
								@apply truncate;
							}

							.file-extra {
								@apply flex flex-row gap-x-1 text-2xs;

								.extension {
									@apply font-semibold uppercase;
								}
							}
						}
					}

					.buttons-container {
						@apply flex flex-row mt-auto items-center justify-end gap-x-2 absolute bottom-2 right-2;

						.button {
							@apply h-6 w-6 aspect-square text-gray-400 rounded-md;

							.icon {
								@apply h-full w-full;
							}

							&:hover,
							&:focus {
								@apply text-gray-600;
							}

							&:focus {
								@apply outline-none ring-blue-500 ring-1;
							}
						}

						.download {
							&:hover,
							&:focus {
								@apply text-blue-500;
							}
						}
					}
				}
			}
		}
	}

	.post-links-wrapper {
		@apply flex flex-col w-full pb-2;

		.post-links-header {
			@apply px-4 flex flex-col gap-y-2;

			.divider {
				@apply h-[1px] w-full bg-gray-500 bg-opacity-20;
			}

			.text {
				@apply font-bold;
			}
		}

		.post-links-container {
			@apply flex flex-row items-center px-4 gap-x-4 overflow-x-auto scroll-x-style py-2;

			.post-link-card-wrapper {
				@apply flex flex-row w-full min-w-[352px];
			}
		}
	}

	.post-footer-wrapper {
		@apply flex flex-row items-center h-12 rounded-b-lg p-1 relative;

		.post-footer-container {
			@apply flex flex-row items-center h-full flex-1;

			.post-footer-button {
				@apply flex-1 h-full flex flex-row items-center justify-center py-2 px-4 gap-x-2 rounded-lg text-gray-500 text-sm font-semibold;

				.icon-container {
					@apply h-6 w-6 aspect-square;

					.icon {
						@apply h-full w-full;
					}
				}

				.label-container {
					@apply hidden xs:flex flex-row h-full items-center;
				}

				&:hover,
				&:focus {
					@apply bg-gray-100;
				}
			}

			.post-like-button {
				&:hover,
				&:focus {
					@apply text-blue-500 bg-blue-100;
				}
			}

			.post-like-button[data-liked="true"] {
				@apply text-blue-500;

				&:hover,
				&:focus {
					@apply text-blue-600;
				}
			}
		}
	}

	.post-footer-share-menu-wrapper {
		@apply ml-1 max-w-sm absolute p-2 bg-white rounded-[40px] shadow-around-lg border border-gray-100 bottom-[105%] right-1 duration-100 pointer-events-none;

		.post-footer-share-menu-container {
			@apply flex flex-row items-center justify-center gap-2 flex-wrap pointer-events-auto;
		}

		&[menu-open="false"] {
			@apply translate-y-[8px] opacity-0;

			* {
				@apply pointer-events-none;
			}
		}
	}

	.post-link-card {
		@apply w-full flex flex-row bg-white p-2 shadow-page-box-1 rounded-lg relative gap-x-2;

		.post-link-container {
			@apply z-0 flex flex-row flex-1 gap-x-2;

			.post-link-logo-container {
				@apply h-16 w-16 rounded-lg border border-gray-500 border-opacity-25 p-3 text-gray-400 bg-gray-50;

				.post-link-logo {
					@apply h-full w-full;
				}
			}

			.post-link-details-container {
				@apply flex flex-col flex-1 gap-y-1;

				.post-link-header-container {
					@apply flex flex-col;

					.post-link-title {
						@apply font-bold truncate;
					}

					.post-link-full-url {
						@apply text-xs truncate underline text-gray-400;
					}
				}
			}
		}

		.deco-1 {
			@apply -z-0 absolute top-0 left-0 h-full w-0 bg-blue-50 rounded-lg ease-in-out duration-200;
		}

		&:hover,
		&:focus-within {
			.deco-1 {
				@apply w-full;
			}

			.post-link-container {
				.post-link-logo-container {
					@apply border-blue-500 text-blue-500 bg-blue-50;
				}
			}

			.post-link-details-container {
				.post-link-header-container {
					.post-link-title {
						@apply text-blue-500;
					}

					.post-link-full-url {
						@apply text-blue-400;
					}
				}
			}
		}
	}

	.btn-text {
		&:hover,
		&:focus {
			@apply underline;
		}
	}

	.comment-item,
	.reply-item {
		&:last-child {
			& > .left {
				& > .deco-lines {
					& > .straight {
						@apply hidden;
					}
				}
			}

			&[show-comment-box="true"],
			&[show-reply-box="true"] {
				& > .left {
					& > .deco-lines {
						& > .straight {
							@apply block;
						}
					}
				}
			}
		}
	}

	.discussion-creation-listener {
		@apply bg-white px-4 py-2 gap-y-2 shadow-page-box-1 rounded-lg flex flex-col;

		.discussion-creation-listener-head {
			@apply flex flex-row h-12 gap-x-4;

			.image-icon-container {
				@apply h-12 w-12 aspect-square bg-gray-200 rounded-full text-gray-300;

				.image {
					@apply rounded-full h-full w-full;
				}

				.icon {
					@apply h-full w-full bg-white;
				}
			}

			.input-box-wrapper {
				@apply flex-1 h-full flex flex-row;

				.input-box-container {
					@apply h-full flex-1 flex flex-row gap-x-2 items-center border border-transparent bg-gray-100 rounded-full p-2 cursor-pointer text-gray-500;

					.icon-container {
						@apply h-8 w-8 rounded-full grid place-items-center p-1;

						.icon {
							@apply h-full w-full;
						}
					}

					.label-container {
						@apply flex flex-row h-full items-center;

						.label {
							@apply flex-1 truncate text-left;
						}
					}

					&:hover,
					&:focus {
						@apply bg-gray-200;
					}
				}
			}
		}
	}

	.discussion-creation-modal-form {
		@apply p-4 flex flex-col;
	}

	.discussion-creation-modal-form-head {
		@apply flex flex-row items-center h-16 gap-x-4 z-50;

		.image-icon-container {
			@apply h-12 w-12 aspect-square bg-gray-200 rounded-full text-gray-300 mb-auto;

			.image {
				@apply rounded-full h-full w-full;
			}

			.icon {
				@apply h-full w-full bg-white;
			}
		}

		.head-right {
			@apply flex-1 h-full flex flex-col;

			.user-name {
				@apply w-full truncate;

				.user-name-link {
					@apply truncate font-semibold;

					&:hover,
					&:focus {
						@apply underline;
					}
				}
			}
		}
	}

	.discussion-creation-modal-form-content {
		@apply flex flex-col w-full gap-y-2 mb-4 z-40;
	}

	.discussion-creation-form-title-container {
		@apply relative flex flex-row py-2 px-2 rounded-lg border border-transparent gap-x-2 border-gray-200;

		.discussion-creation-form-title-input-field {
			@apply flex-1 min-w-0 outline-none bg-transparent font-semibold break-words resize-none;
		}

		&:hover {
			@apply bg-gray-100;
		}

		&:focus-within {
			@apply bg-transparent border-blue-500;
		}
	}

	.discussion-creation-form-pages {
		@apply flex flex-row gap-x-2 gap-y-2;
	}

	.discussion-creation-form-body-container {
		@apply relative h-full flex-1 flex flex-col;
	}

	.discussion-creation-form-discussion-tab {
		@apply relative h-full flex-1 flex flex-col border gap-x-2 border-transparent rounded-lg border-gray-200;

		.discussion-creation-form-body-input-field {
			@apply min-w-0 min-h-[192px] outline-none text-sm bg-transparent break-words flex-grow px-2 py-2 resize-none;
		}

		&:hover {
			@apply bg-gray-100;
		}

		&:focus-within {
			@apply bg-transparent border-blue-500;
		}
	}

	.discussion-creation-form-tabs-container {
		@apply rounded-md border border-gray-300 shadow-around-sm h-max w-max bg-white p-2 flex flex-col items-center gap-y-1;

		.discussion-creation-form-tab-button {
			@apply h-12 w-12 aspect-square p-2.5 grid place-items-center rounded-md duration-200;

			.icon {
				@apply h-full w-full;
			}

			&:hover,
			&:focus {
				@apply bg-gray-100;
			}

			&:hover {
				@apply rounded-[24px];
			}

			&[data-active="true"] {
				@apply rounded-md;
			}

			@media screen and (max-width: 480px) {
				@apply h-10 w-10;
			}
		}
	}

	.discussion-vote-section {
		@apply flex flex-col items-center p-2 bg-gray-100 rounded-l-lg;

		.discussion-vote-buttons-wrapper {
			@apply sticky top-16;

			.discussion-vote-buttons-container {
				@apply flex flex-col items-center;

				.vote-button {
					.icon-container {
						@apply h-8 w-8 aspect-square;

						.icon {
							@apply h-full w-full stroke-1;
						}
					}
				}

				.upvote-button {
					&[data-voted="true"] {
						@apply text-blue-500;
					}

					&:hover {
						@apply text-blue-500;
					}
				}

				.downvote-button {
					&[data-voted="true"] {
						@apply text-red-500;
					}

					&:hover {
						@apply text-red-500;
					}
				}

				.vote-count-container {
					@apply my-1;

					.vote-count {
						@apply text-xs font-semibold;
					}
				}
			}
		}

		&[single-page="true"] {
			@apply rounded-bl-none;
		}
	}

	.discussion-menu-button {
		@apply absolute rounded-full h-8 w-8 p-2 right-2 top-2 text-gray-500;

		&:hover,
		&:focus {
			@apply bg-gray-100 text-gray-700;
		}
	}

	.discussion-dropdown-menu-wrapper {
		@apply absolute w-full top-0 duration-100 right-0 max-w-sm p-2 pt-12 pointer-events-none;

		.discussion-dropdown-menu {
			@apply pointer-events-auto bg-white shadow-around-lg rounded-lg flex flex-col p-2;

			.discussion-dropdown-list {
				@apply flex flex-col;

				.discussion-dropdown-item {
					@apply p-2 rounded-md w-full flex flex-row gap-x-4 items-center text-gray-600;

					.icon-container {
						@apply h-6 w-6;

						.icon {
							@apply h-full w-full;
						}
					}

					.label-container {
						@apply flex flex-row flex-1 items-center text-left h-full;

						.label {
							@apply truncate;
						}
					}

					&:hover,
					&:focus {
						@apply bg-gray-100;
					}
				}
			}
		}

		&[menu-open="false"] {
			@apply translate-y-[-8px] opacity-0;

			* {
				@apply pointer-events-none;
			}
		}
	}

	.discussion-text-content {
		@apply flex flex-col px-4 py-2 gap-y-2;

		.divider {
			@apply h-[1px] bg-black bg-opacity-10;
		}

		.discussion-text-content-title {
			@apply font-semibold whitespace-pre-wrap break-words w-full;
		}

		.discussion-text-content-body-container {
			@apply flex flex-col items-start break-words relative;

			.discussion-text-content-body {
				@apply inline text-sm text-justify whitespace-pre-wrap break-words w-full;

				.backdrop {
					@apply opacity-0 duration-200 backdrop-blur-[2px] absolute h-full w-full top-0 left-0;
				}

				.button-container {
					@apply flex flex-col items-center justify-end absolute h-full w-full top-0 left-0 p-4;

					.button {
						@apply opacity-0 px-4 py-1 translate-y-2 duration-200 border-2 border-green-500 font-semibold text-green-500 rounded-full bg-green-50 shadow-around-sm;

						&:hover,
						&:focus-within {
							@apply bg-green-100;
						}
					}
				}
			}

			&:hover,
			&:focus-within {
				.discussion-text-content-body {
					.backdrop {
						@apply opacity-100 flex;
					}

					.button-container {
						.button {
							@apply opacity-100 translate-y-0;
						}
					}
				}
			}
		}
	}

	.discussion-vote-reply-details-wrapper {
		@apply px-4 flex flex-row justify-between py-2;

		.discussion-vote-details-container {
			@apply flex flex-row flex-1 flex-wrap gap-x-6 gap-y-2;

			.discussion-vote {
				@apply flex flex-row items-center gap-x-1;

				.icon-container {
					@apply h-4 w-4 aspect-square grid place-items-center text-gray-500;

					.icon {
						@apply h-full w-full;
					}
				}

				.label {
					@apply text-gray-500 truncate text-sm;
				}
			}

			.total-votes {
				&[has-vote="true"] {
					.icon-container {
						@apply text-green-500;
					}
				}
			}

			.total-upvotes {
				&[has-vote="true"] {
					.icon-container {
						@apply text-blue-500;
					}
				}
			}

			.total-downvotes {
				&[has-vote="true"] {
					.icon-container {
						@apply text-red-500;
					}
				}
			}
		}

		.discussion-reply {
			@apply flex flex-row items-center gap-x-1;

			.icon-container {
				@apply h-4 w-4 aspect-square text-gray-500;

				.icon {
					@apply h-full w-full;
				}
			}

			.label {
				@apply text-gray-500 truncate text-sm;
			}
		}
	}

	.discussion-footer-wrapper {
		@apply flex flex-row items-center h-10 rounded-b-lg p-1 relative;

		.discussion-footer-container {
			@apply flex flex-row items-center h-full flex-1;

			.discussion-footer-button {
				@apply h-full flex flex-row items-center justify-center py-2 px-4 gap-x-2 rounded-lg text-gray-500 text-xs font-semibold;

				.icon-container {
					@apply h-6 w-6 aspect-square;

					.icon {
						@apply h-full w-full;
					}
				}

				.label-container {
					@apply hidden xs:flex flex-row h-full items-center;
				}

				&:hover,
				&:focus {
					@apply bg-gray-100;
				}
			}
		}
	}

	.discussion-footer-share-menu-wrapper {
		@apply ml-1 max-w-sm absolute p-2 bg-white rounded-[40px] shadow-around-lg border border-gray-100 bottom-[105%] right-1 duration-100 pointer-events-none;

		.discussion-footer-share-menu-container {
			@apply flex flex-row items-center justify-center gap-2 flex-wrap pointer-events-auto;
		}

		&[menu-open="false"] {
			@apply translate-y-[8px] opacity-0;

			* {
				@apply pointer-events-none;
			}
		}
	}

	.reply-footer-container {
		@apply w-full flex flex-row items-center gap-y-2 flex-wrap;

		.reply-vote-buttons-container {
			@apply flex flex-row items-center gap-x-1;

			.vote-button {
				.icon-container {
					@apply h-6 w-6 aspect-square;

					.icon {
						@apply h-full w-full stroke-1;
					}
				}
			}

			.upvote-button {
				&[data-voted="true"] {
					@apply text-blue-500;
				}

				&:hover {
					@apply text-blue-500;
				}
			}

			.downvote-button {
				&[data-voted="true"] {
					@apply text-red-500;
				}

				&:hover {
					@apply text-red-500;
				}
			}

			.vote-count-container {
				.vote-count {
					@apply text-xs font-semibold;
				}
			}
		}
		.reply-buttons-container {
			@apply flex flex-row items-center;

			.button {
				@apply flex flex-row gap-x-1 items-center px-2 py-1;

				.icon-container {
					@apply h-5 w-5 text-gray-700;

					.icon {
						@apply h-full w-full;
					}
				}

				.label-container {
					.label {
						@apply text-xs font-semibold text-gray-700;
					}
				}
			}
		}
	}

	.modal-container {
		animation: entrance-animation-float-up 0.25s ease-in-out;
		@apply w-full max-w-xl bg-white flex flex-col rounded-xl shadow-around-lg pointer-events-auto;
	}

	.content-fade {
		&::after {
			@apply absolute content-[""] bottom-0 w-full h-full left-0 bg-gradient-to-t from-[rgba(255,255,255,_1)_20%] to-[rgba(255,255,255,_0)_80%] pointer-events-none;
		}
	}
}
