@layer components {
	.divider {
		@apply w-full h-[1px] bg-gray-200;
	}

	.text-link {
		@apply text-xs text-center text-blue-500 underline cursor-pointer hover:text-blue-800 focus:text-blue-800 outline-0 focus:outline-1 outline-dashed outline-offset-2;
	}

	.auth-form {
		@apply w-full h-full flex flex-col;

		.auth-input-container {
			@apply w-full h-14 flex flex-row bg-gray-100 px-2 py-1 rounded-md border border-transparent items-center gap-x-2;

			.auth-input-text {
				@apply flex-1 h-full flex flex-col justify-center;

				.label {
					@apply text-xs font-bold text-gray-500 duration-300 h-min relative uppercase w-max;
				}

				.input-field {
					@apply outline-none h-0 duration-300 px-1 origin-bottom;
				}
			}

			&:hover,
			&:focus-within {
				@apply border-gray-500;

				.auth-input-text {
					.label {
						@apply text-3xs;
					}

					.input-field {
						@apply h-8;
					}
				}
			}

			.required-field {
				.label {
					&:after {
						content: "*";
						@apply absolute h-full w-full text-red-500 top-[50%] translate-y-[-50%] left-[110%] duration-300;
					}
				}
			}

			&[data-error="true"] {
				@apply border-red-500;

				.auth-input-text {
					.label {
						@apply text-red-500;
					}

					.input-field {
						@apply text-red-500;
					}
				}
			}
		}

		.auth-input-container-filled {
			@apply border-gray-500;

			.auth-input-text {
				.label {
					@apply text-3xs;
				}

				.input-field {
					@apply h-8;
				}
			}
		}

		.create-user-dropdown-group,
		.create-user-input-group {
			@apply flex flex-col w-full gap-y-2;

			.create-user-field-title {
				@apply font-bold text-logo-300 relative;
			}

			.create-user-field-title-required {
				&::after {
					content: "*";
					@apply absolute h-full w-full text-red-500 translate-x-2;
				}
			}

			.create-user-dropdown {
				@apply bg-gray-100 p-2 rounded-md shadow-around-sm border border-transparent font-semibold cursor-pointer;

				&:hover,
				&:focus {
					@apply border-gray-500;
				}

				&:disabled {
					@apply opacity-50 pointer-events-none border-transparent;
				}
			}

			.create-user-container {
				@apply w-full h-14 flex flex-row bg-gray-100 px-2 py-1 rounded-md border border-transparent items-center gap-x-2;

				.create-user-input-text {
					@apply flex-1 h-full flex flex-col justify-center;

					.input-field {
						@apply outline-none;
					}
				}

				&:hover,
				&:focus-within {
					@apply border-gray-500;
				}
			}
		}
	}

	.page-button {
		@apply h-12 w-full bg-logo-300 rounded-full font-bold text-white border-2 border-logo-300 justify-center items-center grid disabled:bg-gray-500 disabled:border-gray-500 disabled:pointer-events-none;
	}

	.menu-dropdown {
		@apply bg-white w-full p-4 shadow-around-xl rounded-lg flex-1 overflow-y-auto scroll-y-style pointer-events-auto;
	}

	.user-dropdown {
		@apply bg-white w-full p-4 shadow-around-xl rounded-lg flex-1 overflow-y-auto scroll-y-style pointer-events-auto;

		.user-dropdown-group {
			@apply w-full p-2 flex flex-row items-center gap-x-4 cursor-pointer duration-200 rounded-none relative;

			.image-container {
				@apply h-12 w-12 bg-gray-300 text-center truncate grid place-items-center rounded-full aspect-square;

				.image {
					@apply h-full w-full;
				}
			}

			.icon-container {
				@apply h-10 w-10 aspect-square bg-gray-200 text-center truncate grid place-items-center rounded-full p-[10px];

				.icon {
					@apply h-full w-full;
				}
			}

			.label-container {
				@apply flex-1 h-full flex flex-row items-center;

				.label {
					@apply font-bold truncate;
				}

				.label-2 {
					@apply text-sm truncate;
				}
			}

			&::after {
				content: "";
				@apply absolute h-[60%] w-0 bg-logo-300 top-[50%] translate-y-[-50%] left-0 rounded-r-lg duration-100;
			}

			&:hover,
			&:focus {
				@apply bg-gray-100 rounded-lg;

				&::after {
					@apply w-1;
				}
			}
		}

		.log-out {
			&:hover {
				@apply bg-red-500 bg-opacity-10;
				.icon-container {
					@apply bg-red-200 text-red-700;
				}

				.label-container {
					.label-2 {
						@apply text-red-700;
					}
				}
			}
		}
	}

	.page-left-sidebar-wrapper {
		height: calc(100vh - 56px);

		.page-left-sidebar {
			@apply bg-slate-800 w-14 h-full flex flex-col gap-y-4 duration-100 p-1 py-2 overflow-y-auto scroll-y-style;

			.open-close-button {
				@apply p-1.5 h-12 flex flex-row items-center w-full duration-200 gap-x-2 border-2 border-transparent;

				.label-container {
					@apply hidden h-full flex-row items-center;

					.label {
						@apply text-white truncate font-bold uppercase;
					}
				}

				.icon-container {
					@apply h-8 w-8 aspect-square text-white;

					.icon {
						@apply h-full w-full;
					}
				}

				&:hover,
				&:focus {
					@apply bg-slate-700 rounded-lg;

					.icon-container {
						@apply text-cyan-300;
					}
				}
			}

			.sidebar-nav-group {
				@apply p-1.5 h-12 flex flex-row items-center w-full duration-200 gap-x-4 border-2 border-transparent;

				.label-container {
					@apply hidden h-full flex-row items-center;

					.label {
						@apply text-white truncate capitalize;
					}
				}

				.icon-container {
					@apply h-8 w-8 aspect-square text-white grid place-items-center p-1;

					.icon {
						@apply h-full w-full;
					}
				}

				&:hover,
				&:focus {
					@apply bg-slate-700 rounded-lg;

					.label-container {
						.label {
							@apply text-cyan-300;
						}
					}

					.icon-container {
						@apply text-cyan-300;
					}
				}

				&[data-active="true"] {
					@apply bg-slate-600 rounded-lg;

					.label-container {
						.label {
							@apply text-cyan-300;
						}
					}

					.icon-container {
						@apply text-cyan-300;
					}
				}
			}

			.list-header {
				@apply w-full text-center text-xs font-semibold uppercase px-2 text-slate-600 pointer-events-none truncate py-1;
			}

			&[data-open="true"] {
				@apply w-64;

				.open-close-button {
					.label-container {
						@apply flex-1 flex;
					}
				}

				.sidebar-nav-group {
					.label-container {
						@apply flex-1 flex;
					}
				}

				.list-header {
					@apply text-left;
				}
			}
		}
	}
}
